




	 .section1 h1{background-color: #8EACBE;width: 700px; margin-left: 5px;}
.section1 h2{color: #5E689B;width: 250px;height: 26px;}
.section1 h3{color: #354AB4}
.section1 p{background-color: #d1d6ef; border-bottom: 1px solid #958d8d;border-left: 1px solid #958d8d;}