/** Commun */
* { padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** Flex direction */
.flex { display: flex;}
.row { flex-direction: row;}
.row-reverse { flex-direction: row-reverse;}
.column { flex-direction: column;}
.column-reverse { flex-direction: column-reverse;}
.wrap { flex-wrap: wrap;}
.wrap-reverse { flex-wrap: wrap-reverse;}

/** Alignement axe principal */
.justif-start { justify-content: flex-start;}
.justif-center { justify-content: center;}
.justif-between { justify-content: space-between;}
.justif-around { justify-content: space-around;}
.justif-evenly { justify-content: space-evenly;}
.justif-end { justify-content: flex-end;}

/** Alignement axe perpendiculaire */
.align-start { align-items: flex-start;}
.align-center { align-items: center;}
.align-stretch { align-items: stretch;}
.align-baseline { align-items: baseline;}
.align-end { align-items: flex-end;}

/** Répartition axe perpendiculaire */
.content-start { align-content: flex-start;}
.content-center { align-content: center;}
.content-stretch { align-content: stretch;}
.content-between { align-content: space-between;}
.content-around { align-content: space-around;}
.content-end { align-content: flex-end;}

/** Alignement individuel */
.self-start { align-self: flex-start;}
.self-center { align-self: center;}
.self-stretch { align-self: stretch;}
.self-baseline { align-self: baseline;}
.self-end { align-self: flex-end;}

/** Taille automatique */
.large { flex: 0 1 100%;}
.flexauto { flex: auto;}
.flexinitial { flex: initial;}
.flexnone { flex: none;}
.clearflex { /* Equivalent de clear:both pour flex : retour à la ligne*/
   flex:1 0 100%;
   overflow:hidden;
   height:0;
   margin:0;
   padding:0;
   border:none;
}

/** Tailles x/12*/

.flex1 { flex: 1;}
.flex2 { flex: 2;}
.flex3 { flex: 3;}
.flex4 { flex: 4;}
.flex5 { flex: 5;}
.flex6 { flex: 6;}
.flex7 { flex: 7;}
.flex8 { flex: 8;}
.flex9 { flex: 9;}
.flex10 { flex: 10;}
.flex11 { flex: 11;}
.flex12 { flex: 12;}

/** Centrage automatique du contenu*/
.centre {
    align-items: center;
    display: flex;
    justify-content: center;
}


*[class^="col"]{border:2px solid red; height:50px;}
